.cart-items {
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

.img-svg {
    padding: 0 1rem;
}

.card-horizontal .btn {
    margin: 0.5rem;
}

.price-breakup {
    width: 90%;
    margin: auto;
}

.discount {
    color: var(--successBg);
    opacity: 0.8;
}

.strike-through {
    text-decoration: line-through;
}

.price-details {
    border: 1px solid var(--primaryBg);
    margin: 1rem;
}

@media screen and (min-width: 576px) {
    .card-horizontal {
        justify-content: space-around;
        max-width: 40rem;
        margin: 0.5rem 1rem;
    }

    .card-horizontal .card-img {
        width: 50%;
    }

    .cart-item-desc-btns {
        display: flex;
        flex-direction: column;
    }
    .img-svg {
        width: 50%;
        margin: auto;
     }
}

@media screen and (min-width: 768px) {
    .cart-container {
        display: flex;
        justify-content: center;
    }

    .price-details {
        align-self: flex-start;
        min-width: 15rem;
        width: 40rem;
    }
    .card-details-container{
        padding-left: 1%;
    }
}

@media screen and (min-width: 1200px) {
    .cart-container {
        padding: 1rem 7rem;
    }
}