.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: unset;
}

.card{
    width:100%;
    height: 100%;
    font-size: 80%;
}

.card, .card-img{
    min-width: unset;
}

.card-badge:after{
    display: none;
}

.btn-filter, .filter-component{
    position: fixed;
    z-index: 1;
    background-color: var(--primaryTxt);
}

.btn-filter{ 
    bottom:0;
    font-size: large;
    padding: 0.2rem;
    width: 100%;
    color: var(--primaryBg); 
}

.filter-component{
    bottom: 4%;
    left:0;  
    height: 96vh;
}