.txt-desc{
    padding: 0.5rem 1rem;
}

.home-txt-desc{
    background-color: var(--theme100);
    line-height: 1.6;
    text-align: center;
    border-radius: 1rem;
    padding: 0 1rem;
    margin:1rem;
}

.home-txt-desc .btn-solid{
    margin: unset;
    margin-bottom: 1rem;
}
.cartegory-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}

.cartegory-container .img-svg{
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: ease-in 0.25s;
    border-radius: 1rem;
    border: 1px solid var(--primaryBg);
}

.cartegory-container .img-svg:hover{
    opacity: 0.8;
    transform: scale(1.1);
}


@media screen and (min-width: 768px) {
    .txt-desc{
        width: 60%;
        margin: auto;
        line-height: 1.7;
        padding: 1rem;
    }
    .cartegory-container{
        flex-direction: row;
        padding: 0.5rem;
    }
    .cartegory-container .img-svg{
        margin: 1rem;
        max-width: 15rem;
        width: 16rem;
        height: 16rem;
    }
    .home-txt-desc{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .cartegory-container .img-svg{
        margin: 1rem 2rem;
        max-width: 20rem;
        width: 20rem;
        height: 20rem;
    }
    .img-main{
        max-height: 53vh;
        width: auto;
    }
    .home-txt-desc{
        width: 60%;
    }
}