@import './Product/productListing.css';

.btn-sm {
    padding: 0.2rem 0.4rem;
  }
  
  /* Wishlist ♥ styling */
  .wish-active, .wish-inactive, .wish-remove{
    cursor: pointer;
    color: var(--secondaryTxt);
    position: absolute;
    top:5%;
    right: 8%;
    border-radius: 50%;
    padding: 3% 2%;
    background-color: rgba(255,255,255,0.5);
  }
  
  /* Wishlist dismiss btn */
  .wish-remove{
    top:5%;
    right: 7%;
    padding:2%;
  }
  
  /* Toast Component */
  .toast-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 15rem;
    color: var(--successBg);
    font-size: 0.85em;
    z-index: 1;
  }
  
  .toast-message{
    padding: 0.2rem 1rem;
  }
  
  /* Product out of stock */
  .stock-container-overlay{
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(234, 234, 236,0.6);
  }
  
  .stock-txt-overlay{
   background-color: var(--primaryTxt);
   border: 1px solid var(--primaryBg);
   padding: 0.5rem;
  box-shadow: 2px 2px 10px var(--primaryTxt);
  }
  
  .card-discount{
    color: var(--secondaryTxt);
  }

  .txt-primaryBg{
    color: var(--primaryBg);
  }