.login-container {
    border: 1px solid var(--primaryBg);
    border-radius: 1rem;
    width: 85vw;
    margin: 1rem auto;
    padding: 1rem;
}

.login-container .txt-input {
    width: 100%;
    margin: auto;
}

.login-container .txt-box {
    margin: 1rem auto;
}

.login-container .btn {
    width: 40%;
}

@media screen and (min-width: 576px) {
    .login-container {
        width: 70%;
    }
    .login-container .txt-input {
        width: 18rem;
        margin: auto;
    }
}

@media screen and (min-width: 992px) {
    .login-container {
        width: 50%;
    }
}