@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import './Components/Product/productCatalogue.css';
@import './Components/Cart/cart.css';
@import './Components/Navigation/navigation.css';
@import './Components/Product/filterContainer.css';
@import './Components/Toast/toast.css';
@import './Components/Private/Wishlist/wishlist.css';
@import './Components/Home/home.css';
@import './Components/Authentication/authentication.css';
@import './Components/Private/Address/address.css';
@import './Components/Private/OrderSummary/summary.css';

.btn-sm {
  padding: 0.2rem 0.4rem;
}

/* Wishlist ♥ styling */
.wish-active,
.wish-inactive,
.wish-remove, 
.wish-loading {
  cursor: pointer;
  color: var(--secondaryTxt);
  position: absolute;
  top: 5%;
  right: 8%;
  border-radius: 50%;
  padding: 3% 2%;
  background-color: rgba(255, 255, 255, 0.5);
}

.wish-loading{
  background-color: transparent;
}

/* Wishlist dismiss btn */
.wish-remove {
  top: 5%;
  right: 7%;
  padding: 2%;
}


/* Product out of stock */
.stock-container-overlay {
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(234, 234, 236, 0.5);
}

.stock-txt-overlay {
  background-color: var(--primaryTxt);
  border: 1px solid var(--primaryBg);
  padding: 0.5rem;
}
.txt-container{
  flex-grow: 1;
}

.card-img {
  flex-grow: 1;
  max-height: 50%;
}

.card-discount {
  color: var(--secondaryTxt);
}

.txt-primaryBg {
  color: var(--primaryBg);
}

.route-container {
  min-height: 3rem;
}

/* App defaults */
.App {
  text-align: center;
  overflow-x: hidden;
}